*{
 /*   */
  margin:0;
  box-sizing : border-base;
  font-family:Arial, Helvetica, sans-serif;
  color:#fff;

}
html,body{
  height: 100%;
  width:100%;
}
.card{
  width:360px;
  border:solid 1px white;
  padding : 25px;
  margin: 15px;
  text-align: center;
  border-radius: 15px;
  background-color:#333;

}
.parent{
  padding:20px;
  display:flex;
  
  flex-wrap:wrap;

}
.card p{
  margin:25px;
}
.card button{
  padding: 10px 20px; 
  background-color: white;
  color:black;
  border:none;
  border-radius:5px;
  cursor: pointer;
}
.card img{
  height:100px;
  width:100px;
  object-fit:cover;
  border-radius:10px;
  border-radius: 50px;
}
.card h1{
  font-size: 40px;
}